<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div class="main">
		<div class="logo">
			<img src="{{ url_for('static', filename='logo@2x.png') }}">
			<h1 style="margin-top: 2%;"><b>RESUME CHECKER</b></h1>
		</div>
		<div class="mid">
			<h2>Some Title</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu ornare dolor, sed venenatis leo. Integer sed metus euismod, laoreet neque non, venenatis lacus. Nullam tincidunt id erat et blandit. Nulla vitae elementum urna.</p>
		</div>
		<div class="form">
			
			<form style="align-items: center; text-align: center;" method="POST" id="upload-form" action="{{ url_for('upload') }}" enctype="multipart/form-data" >
				<div>
					<input style="align-content: center;width: 0.1px; height: 0.1px; opacity: 0; overflow: hidden; 	position: absolute;	z-index: -1;cursor: pointer;" type="file" name="file" id="file" accept="application/pdf"  >
					<label for="file"><img style="width:  25%;cursor: pointer;" src="{{ url_for('static', filename='icon.png') }}"></label>
					 
				</div>
				<input  style="align-self: center; margin-top: 20px;" class ="btn btn-danger" type="submit" value="submit">
			</form>

		</div>
	</div>
</body>
</html>